Source: notadash-mon
Section: misc
Priority: extra
Maintainer: Brian Oldfield <brian@oldfield.io>
Standards-Version: 3.9.4

Package: notadash-mon
Architecture: any
Description: monitoring tool for the Mesos/Marathon/Docker stack
